html, body, h1, h2, h3, h4, p, div, ul, ol, li {
  font-family: 'Roboto Mono', monospace;
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
}

.work h3, .education h3, .skills h3, .contacts h3 {
  font-family: 'Roboto Mono', monospace;
  font-size: 30px;
}

li {
font-family: 'Roboto Mono', monospace;
  font-size: 18px;
}
p {
font-family: 'Roboto Mono', monospace;
  font-size: 18px;
}
a {
font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  text-decoration: none;
  color: #000000;
}
a:hover {
  color: #00FFFF;
  text-decoration: none;
}

.education ul, .skills ul, .contacts ul {
  list-style-type: none;
}

.header, .footer {
  width: 100%;
  margin: 0 auto;

}
.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
align-items: center;
}

.name {
  align-self: stretch;
  font-family: 'Roboto Mono', monospace;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
justify-content: space-around;
}


.bio {
align-self: flex-start;
  justify-content: space-around;
  width: 100%;
  text-align: center;
font-size: 18px;
}

.work {
align-self: flex-start;
justify-content: space-around;
width: 100%;
text-align: center;
}

.work p {
  font-size: 18px;
}

.content {
  display: flex;
  justify-content: space-around;
  align-content: stretch;
flex-flow: row nowrap;
padding: 20px 20px 0px 20px;

}

.education {
align-self: flex-start;

}

.education h3 {
text-align: left;
}

.skills {
align-self: flex-end;
text-align: right;

}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.contacts {
align-self: center;
text-align: center;
justify-content: space-around;
}

.contacts h3 {
  text-align: center;
}

.email {
  align-self: center;
  justify-content: space-around;
  text-align: center;
  margin-top: 10px;
}

@media screen and (max-width: 375px) {
  .header, .footer {
    width: 100%;
    flex-flow: column wrap;
  }
.content {
  flex-flow: column wrap;
  justify-content: space-between;

}


}
